<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-copyright"></i> BioPerl 2016
            </div>
            <div class="col-sm-6">
                <!--
                <li><a href="/index.html">Home</a></li>
                <li><a href="/FAQ.html">FAQ</a></li>
                <li><a href="/About.html">About This Site</a></li>
                -->
                <div class="pull-right">
                    If you are interested in contributing please contact us at <u><a href="http://lists.open-bio.org/mailman/listinfo/bioperl-l">bioperl-l</a></u> &nbsp; &nbsp; <i class="fa fa-users"></i>
                </div>
            </div>
        </div>
    </div>
</footer>