    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; BioPerl 2015<br/>
                </div>
                <div class="col-sm-6">
                <!--
                    <ul class="pull-right">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/FAQ.html">FAQ</a></li>
                        <li><a href="/About.html">About This Site</a></li>
                    </ul>
                -->
                </div>
            </div>
        </div>
    </footer>
