<header id="header">
    <div class="top-bar">
        <div class="container">
            <a class="navbar-brand" href="/index.html"><img src="/images/BioPerl-txt.png" alt="BioPerl logo"></a>
            <div class="pull-right">
                <ul class="social-share">
                    <li><a href="https://twitter.com/bioperl"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/bioperl"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://en.wikipedia.org/wiki/BioPerl"><i class="fa fa-wikipedia-w"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <!--
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/FAQ.html">FAQ</a></li>
                            <li><a href="/about.html">About This Site</a></li>
                        </ul>
                    </li>
                </ul>
                -->
                <div id="custom-search-input">
                    <div class="input-group col-md-3">
                        <input type="text" class="form-control input-med" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-med" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>