<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BioPerl | Home</title>

  <!-- core CSS 
    <link href="{{ site.url }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.url }}css/animate.min.css" rel="stylesheet">
    <link href="{{ site.url }}css/main.css" rel="stylesheet">
    <link href="{{ site.url }}css/responsive.css" rel="stylesheet">
  -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{{ site.url }}js/html5shiv.js"></script>
    <script src="{{ site.url }}js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
