<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="page-content">
      <div class="wrapper">
        <BR>
        <div class="boxed"><i>{{ page.title }}</i></div>
        <BR>
        <BR>
        <!-- Begin TOC -->
        <div style="font-size:16px; font-style: italic">
        <script src="/assets/jquery-2.1.4.min.js"></script>
        <script src="/assets/highlight.js/src/highlight.js"></script>
        <!-- From highlight.min.js -->
        <script>hljs.initHighlightingOnLoad();</script>
        <script type="text/javascript">
          $(document).ready(function(){
            $("h1, h2, h3, h4, h5, h6").each(function(i,item){
              var tag = $(item).get(0).localName;
              $(item).attr("id", "item" + i);
              $("#category").append('<a class="new' + tag + '" href="#item' + i + '">' + $(this).text() + '</a></br>');
              $(".newh2").css("margin-left",0);
              $(".newh3").css("margin-left",30);
              $(".newh4").css("margin-left",60);
              $(".newh5").css("margin-left",90);
              $(".newh6").css("margin-left",120);
            });
          });
        </script>
        <div id="category"></div>
        <!-- End TOC -->
        </div>
        <BR>

        {{ content }}

      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
