<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include howto_header.html %}

    <div class="page-content">
      <div class="wrapper">
        <font color="blue">{{ page.title }}</font>
        <BR><BR>
        <link href="/assets/tocmd-generator/css/toc.css" rel="stylesheet">
        <script src="/assets/jquery-2.1.4.min.js"></script>
        <script src="/assets/tocmd-generator/js/jquery.toc.js" type="text/javascript"></script>
        <script type="text/javascript">
          $('#page-content').toc({
            showAlways:true,
            showText:'Expand TOC',
            saveShowStatus:false
          });
        </script>
        <BR><BR>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
