<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
        <section id="feature" >
          <div class="container">
        <div class="boxed"><i>{{ page.title }}</i></div>
        <BR>
        <BR>
        <!-- Begin TOC -->
        <div style="font-size:16px; font-style: italic">
        <div class="boxed">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
        <!-- <script src="/js/jquery-2.1.4.min.js"></script> -->
        {% include jquery.html %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
        <!-- From highlight.min.js -->
        <script>hljs.initHighlightingOnLoad();</script>
        <script type="text/javascript">
          $(document).ready(function(){
            $("h1, h2, h3, h4, h5, h6").each(function(i,item){
              var tag = $(item).get(0).localName;
              $(item).attr("id", "item" + i);
              $("#category").append('<a class="new' + tag + '" href="#item' + i + '">' + $(this).text() + '</a></br>');
              $(".newh2").css("margin-left",0);
              $(".newh3").css("margin-left",30);
              $(".newh4").css("margin-left",60);
              $(".newh5").css("margin-left",90);
              $(".newh6").css("margin-left",120);
            });
          });
        </script>
        <div id="category"></div>
        </div>
        <!-- End TOC -->
        </div>
        <BR>
            {{ content }}
          </div>
        </section>

    {% include footer.html %}

  </body>
</html>
